header {
  background-color: #fff;
  height: 80px;
  position: fixed;
  z-index: 12;
  width: 100%;
  top: 0;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
  header .container {
    height: 100%; }
    header .container .row {
      height: 100%; }
      header .container .row .col-lg-12 {
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        header .container .row .col-lg-12 .logo a {
          display: block;
          max-width: 170px;
          height: auto; }
          header .container .row .col-lg-12 .logo a img {
            display: block;
            height: auto;
            width: 100%; }
        header .container .row .col-lg-12 .menu-icon {
          width: 40px;
          display: flex;
          align-items: center;
          height: 31px;
          cursor: pointer;
          position: relative;
          z-index: 999; }
          header .container .row .col-lg-12 .menu-icon img{
              height: 30px;
              width: 30px;
          }
         

          header .container .row .col-lg-12 .menu-icon .hamburger .line {
            width: 33px;
            height: 3px;
            background-color: #000;
            display: block;
            -webkit-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            border-radius: 16px; }
            header .container .row .col-lg-12 .menu-icon .hamburger .line:nth-child(1){
              height: 3.1px;
            }
            header .container .row .col-lg-12 .menu-icon .hamburger .line:nth-child(3){
              height: 3.1px;
            }
            header .container .row .col-lg-12 .menu-icon .hamburger .line:not(:first-child) {
              margin: 6px 0 0px 0; }
          header .container .row .col-lg-12 .menu-icon #hamburger-1.is-active .line:nth-child(2) {
            opacity: 0; }
          header .container .row .col-lg-12 .menu-icon #hamburger-1.is-active .line:nth-child(1) {
            -webkit-transform: translateY(10px) rotate(45deg);
                -ms-transform: translateY(10px) rotate(45deg);
                    transform: translateY(10px) rotate(45deg); }
          header .container .row .col-lg-12 .menu-icon #hamburger-1.is-active .line:nth-child(3) {
            -webkit-transform: translateY(-8px) rotate(-45deg);
                -ms-transform: translateY(-8px) rotate(-45deg);
                    transform: translateY(-8px) rotate(-45deg); }

.language {
  font-family: 'Hind-Regular';
  position: absolute;
  right: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .language span {
    font-size: 18px;
    cursor: pointer;
    display: block;
    margin-right: 10px; }
    .language span.hidden {
      display: none; }
    .language span a {
      display: block;
      color: #000; }

.all_sections {
  -webkit-transition: -webkit-filter 0.3s ease;
  transition: -webkit-filter 0.3s ease;
  -o-transition: filter 0.3s ease;
  transition: filter 0.3s ease;
  transition: filter 0.3s ease, -webkit-filter 0.3s ease; }

.blur {
  -webkit-filter: blur(2px);
          filter: blur(2px); }

.menu {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10; }
  .menu nav {
    z-index: 12;
    position: fixed;
    left: 30%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
    .menu nav .menu_links li a {
      color: #fff;
      font-size: 30px;
      font-family: 'Hind-Semibold';
      -webkit-transition: opacity 0.1s ease;
      -o-transition: opacity 0.1s ease;
      transition: opacity 0.1s ease; }
      .menu nav .menu_links li a:hover {
        opacity: 0.7; }

.scrolltop-btn {
  -webkit-tap-highlight-color: transparent !important;
  width: 41px;
  height: 40px;
  border-radius: 50%;
  background-color: #222;
  opacity: 0.7;
  position: fixed;
  right: 15px;
  bottom: 30px;
  z-index: 4;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
  display: none; }
  .scrolltop-btn:hover {
    opacity: 1; }
  .scrolltop-btn::before {
    content: '';
    position: absolute;
    left: 16px;
    bottom: 14px;
    width: 2px;
    height: 14px;
    background-color: #fff;
    -webkit-transform: rotate(35deg);
        -ms-transform: rotate(35deg);
            transform: rotate(35deg);
    border-radius: 0px 2px 0px 0px; }
  .scrolltop-btn::after {
    content: '';
    position: absolute;
    left: 23px;
    bottom: 14px;
    width: 2px;
    height: 14px;
    background-color: #fff;
    -webkit-transform: rotate(-35deg);
        -ms-transform: rotate(-35deg);
            transform: rotate(-35deg);
    border-radius: 2px 0px 0px 0px; }
